<%= turbo_stream.replace "review_card" do %>
  <% if @next_card %>
    <%= render "review_sessions/card_inner", card: @next_card %>
  <% else %>
    <%= render "review_sessions/empty_state_inner" %>
  <% end %>
<% end %>

<%= turbo_stream.replace "filament-container" do %>
  <% if @total && @total > 0 && @position %>
    <div id="filament-container" class="w-full bg-surface-container-low h-[2px]">
      <div class="filament-progress" style="width: <%= ((@position.to_f / @total) * 100).round %>%"></div>
    </div>
  <% else %>
    <div id="filament-container" class="hidden"></div>
  <% end %>
<% end %>
